<div class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Заказать</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row" style="text-align: center;">
            <div class="col-5">
                <p class="mb-1">Позвоните нам</p>
                <a href="#"><div class="blue-btn mb-1">+7(999)260-97-73</div></a>
                <a href="#"><div class="blue-btn">+7(999)260-97-73</div></a>
            </div>
            <p class="col-2">или</p>
            <div class="col-5">
                <p>Заполните форму</p>
                <form action="" method="post">
                    <input class="my-form mb-1" type="text" name="name" placeholder="Введите имя">
                    <input class="my-form mb-1" type="phone" name="phone" placeholder="Введите номер телефона">
                    <input class="my-form-btn" type="submit" data-bs-dismiss="modal">
                </form>
            <div>
        </div>
      </div>
    </div>
</div>