<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/bootstrap.min.css') }}">
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css') }}">
        <link rel="shortcut icon" href="static/images/logo.png" type="image/png">
        <title>Система безопасности</title>
    </head>
    <body>
        <section class="header-section mb-0">
            <div class="container-fluid">
                <div class="row menu">
                    <div class="col-1">
                        <img class="menu-img" src="static/images/logo.png" >
                    </div>
                    <div class="col-2">
                        <a class="menu-link" href="#products">АССОРТИМЕНТ</a>
                    </div>
                    <div class="col-2">
                        <a class="menu-link" href="#photo">ОБЪЕКТЫ</a>
                    </div>
                    <div class="col-2">
                        <a class="menu-link" href="#about">КОНТАКТЫ</a>
                    </div>
                    <div class="col-5">
                        <div class="menu-btn">
                            <a href="tel:88202586829"><div class="blue-btn">8(8202)58-68-29</div></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target=".exampleModal"><div class="white-btn">ЗАКАЗАТЬ</div></a>
                        </div>
                        <p class="main-address">г. Череповец, ул. Вологодская д.4</p>
                    </div>
                </div>
            </div>
            <div id="bg-canvas" class="bg-canvas">
                <canvas id="canvas"></canvas>
                <div class="container canvas-text">
                    <p class="menu-buy-text">Система безопасности-<br>инструмент<br>вашего спокойствия</p>
                    <!-- <p class="menu-buy-text">БЕЗОПАСНО-<br>НЕ ЗНАЧИТ ДОРОГО</p> -->
                    <p class="menu-buy-description">«Безопасность - это процесс, а не результат»<br>Брюс Шнайер</p>
                    <div class="d-flex">
                        <a href="#" data-bs-toggle="modal" data-bs-target=".exampleModal"><div class="blue-btn">ЗАКАЗАТЬ</div></a>
                        <a href="#products"><div class="white-btn">КАТАЛОГ</div></a>
                    </div>
                </div>
                <p class="menu-date">Работаем с 05.05.2000</p>
            </div>             
        </section>
        <section class="low-price-section">
            <div id="carouselExampleControls" class="carousel slide low-price-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="static/images/list/1.jpg" class="d-block w-100" alt="..." style="object-position: 0px 60%;">
                    <div class="low-price-carousel-text">
                        <p><br>Удобное расположение</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="static/images/list/2.jpg" class="d-block w-100" alt="...">
                    <div class="low-price-carousel-text">
                        <p><br>Качественная продукция</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="static/images/list/3.jpg" class="d-block w-100" alt="...">
                    <div class="low-price-carousel-text">
                        <p><br>Низкие цены</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Следующий</span>
                </button>
              </div>
        </section>
        <section class="products-section">
            <a name="products"></a> 
            <div class="container">
                <p class="section-text">КАТЕГОРИИ ОБОРУДОВАНИЯ</p>
                <div class="other-products">
                    <div class="row other-products-name">
                        <ul class="col-4">
                            <li>Видеонаблюдение</li>
                            <li>Домофоны</li>
                            <li>Охранно-пожарная сигнализация</li>
                            <li>GSM сигнализация</li>
                        </ul>
                        <ul class="col-4">
                            <li>Речевое оповещение о пожаре</li>
                            <li>Средства пожаротушения</li>
                            <li>Контроль и управление доступом</li>
                            <li>Источники питания и аккумуляторы</li>
                        </ul>
                        <ul class="col-4">
                            <li>Кабельная продукция</li>
                            <li>Монтажные материалы, разъемы</li>
                            <li>ОКЛ огнестойкая кабельная линия</li>
                            <li>Электромонтажные изделия</li>
                        </ul>
                    </div>
                </div>                
                <p class="section-text">ПОПУЛЯРНАЯ ПРОДУКЦИЯ</p>
                <div class="one-product">
                    <span class="icon"><img src="static/images/icons/sale.png"></span>
                    <a data-bs-toggle="collapse" href="#saleProducts" aria-expanded="false" aria-controls="saleProducts"><p class="section-min-text sale">! Распродажа !</p></a>
                    <p class="products-explanation">(Нажми, чтобы открыть или закрыть)</p>
                    <div class="row gy-3 collapse" id="saleProducts">
                        {% for item in sale %}
                        <div class="col-lg-6 col-md-12 gx-5">
                            <div class="products-card row">
                                <div class="col-6 m-auto">
                                    <img class="product-card-img w-100" src="static/images/products/{{item["img"]}}">
                                </div>
                                <div class="col-6 product-card-text">
                                    <p class="product-name">{{item["name"]}}</p>
                                    <p class="product-description">{{item["property"]}}</p>
                                    <div class="d-flex justify-content-center align-items-center product-buy">
                                        <p class="product-price">{{item["price"]}}</p>
                                        <a href="#" data-bs-toggle="modal" data-bs-target=".exampleModal"><div class="product-blue-btn">ЗАКАЗАТЬ</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="one-product">
                    <span class="icon"><img src="static/images/icons/video.png"></span>
                    <a data-bs-toggle="collapse" href="#videoCamera" aria-expanded="false" aria-controls="videoCamera"><p class="section-min-text">Видеонаблюдение</p></a>
                    <p class="products-explanation">(Нажми, чтобы открыть или закрыть)</p>
                    <div class="row gy-3 collapse" id="videoCamera">
                        {% for item in products_camera %}
                        <div class="col-lg-6 col-md-12 gx-5">
                            <div class="products-card row">
                                <div class="col-6 m-auto">
                                    <img class="product-card-img w-100" src="static/images/products/{{item["img"]}}">
                                </div>
                                <div class="col-6 product-card-text">
                                    <p class="product-name">{{item["name"]}}</p>
                                    <p class="product-description">{{item["property"]}}</p>
                                    <div class="d-flex justify-content-center align-items-center product-buy">
                                        <p class="product-price">{{item["price"]}}</p>
                                        <a href="#" data-bs-toggle="modal" data-bs-target=".exampleModal"><div class="product-blue-btn">ЗАКАЗАТЬ</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="one-product">
                    <span class="icon"><img src="static/images/icons/fire.png"></span>
                    <a data-bs-toggle="collapse" href="#fire" aria-expanded="false" aria-controls="fire"><p class="section-min-text">Охранно-пожарная сигнализация</p></a>
                    <p class="products-explanation">(Нажми, чтобы открыть или закрыть)</p>
                    <div class="row gy-3 collapse" id="fire">
                        {% for item in products_firefighting %}
                        <div class="col-lg-6 col-md-12 gx-5">
                            <div class="products-card row">
                                <div class="col-6 m-auto">
                                    <img class="product-card-img w-100" src="static/images/products/{{item["img"]}}">
                                </div>
                                <div class="col-6 product-card-text">
                                    <p class="product-name">{{item["name"]}}</p>
                                    <p class="product-description">{{item["property"]}}</p>
                                    <div class="d-flex justify-content-center align-items-center product-buy">
                                        <p class="product-price">{{item["price"]}}</p>
                                        <a href="#" data-bs-toggle="modal" data-bs-target=".exampleModal"><div class="product-blue-btn">ЗАКАЗАТЬ</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="one-product">
                    <span class="icon"><img src="static/images/icons/domofon.png"></span>
                    <a data-bs-toggle="collapse" href="#domofon" aria-expanded="false" aria-controls="domofon"><p class="section-min-text">Контроль и управление доступом, домофоны</p></a>
                    <p class="products-explanation">(Нажми, чтобы открыть или закрыть)</p>
                    <div class="row gy-3 collapse" id="domofon">
                        {% for item in domofons %}
                        <div class="col-lg-6 col-md-12 gx-5">
                            <div class="products-card row">
                                <div class="col-6 m-auto">
                                    <img class="product-card-img w-100" src="static/images/products/{{item["img"]}}">
                                </div>
                                <div class="col-6 product-card-text">
                                    <p class="product-name">{{item["name"]}}</p>
                                    <p class="product-description">{{item["property"]}}</p>
                                    <div class="d-flex justify-content-center align-items-center product-buy">
                                        <p class="product-price">{{item["price"]}}</p>
                                        <a href="#" data-bs-toggle="modal" data-bs-target=".exampleModal"><div class="product-blue-btn">ЗАКАЗАТЬ</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="one-product">
                    <span class="icon"><img src="static/images/icons/akum.png"></span>
                    <a data-bs-toggle="collapse" href="#akb" aria-expanded="false" aria-controls="akb"><p class="section-min-text">Источники питания и аккумуляторы</p></a>
                    <p class="products-explanation">(Нажми, чтобы открыть или закрыть)</p>
                    <div class="row gy-3 collapse" id="akb">
                        {% for item in akb %}
                        <div class="col-lg-6 col-md-12 gx-5">
                            <div class="products-card row">
                                <div class="col-6 m-auto">
                                    <img class="product-card-img w-100" src="static/images/products/{{item["img"]}}">
                                </div>
                                <div class="col-6 product-card-text">
                                    <p class="product-name">{{item["name"]}}</p>
                                    <p class="product-description">{{item["property"]}}</p>
                                    <div class="d-flex justify-content-center align-items-center product-buy">
                                        <p class="product-price">{{item["price"]}}</p>
                                        <a href="#" data-bs-toggle="modal" data-bs-target=".exampleModal"><div class="product-blue-btn">ЗАКАЗАТЬ</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="other-product">
                    <div class="company-price">
                        <p class="nomination">Мы не будем перепечатывать каталоги и прайсы довольно большого количества наших поставщиков.<br>
                            АКТУАЛЬНЫЕ розничные цены можно найти на их сайтах. В том числе:
                        </p>
                        <div>
                            <a target="_blank" href="https://tantos.com.ru/"><img src="static/images/tantos.png"></a>
                            <a target="_blank" href="https://www.vipaks.ru/"><img src="static/images/vipaks.png"></a>
                            <a target="_blank" href="https://satvision-cctv.ru/"><img src="static/images/satvision.png"></a>
                            <a target="_blank" href="https://devline.ru/wherebuy/world/cherepovec/"><img src="static/images/line.png"></a>
                            <a target="_blank" href="https://optimus-cctv.ru/"><img src="static/images/optimus.png"></a>      
                        </div>
                        <p class="nomination">Основные торговые дома на российском рынке систем безопасности с полным перечнем оборудования:</p>
                        <div>
                            <a target="_blank" href="https://www.tinko.ru/"><img src="static/images/tinko.png"></a>
                            <a target="_blank" href="https://satro-paladin.com/"><img src="static/images/satro.png"></a>
                            <a target="_blank" href="https://luis.ru/"><img src="static/images/luis.png"></a>
                        </div>
                        <p class="motto">РОЗНИЦА - ЭТО НЕ ДЛЯ ВАС</p>
                        <p class="nomination">Звоните, пишите, приходите - согласуем цены и сроки</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="photo-section">
            <a name="photo"></a>
            <div class="container">
                <p class="section-text">УСТАНОВЛЕНО ОБОРУДОВАНИЕ</p>
                <p class="section-min-text">Все монтажные работы выполнены ООО «Спец-Защита»</p>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators carousel-works">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
                        {% for id in photo_gallery %}
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{id[0]}}" aria-label="Slide {{id[0]}}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for photo in photo_gallery %}
                            <div class="carousel-item {{photo[6]}}">
                                <div class="photo-gallery-imgs d-block w-100">
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="static/images/works/{{photo[3]}}" class="photo-gallery-img-1 w-100 h-100" alt="...">
                                        </div>
                                        <div class="col-6">
                                            <img src="static/images/works/{{photo[4]}}" class="photo-gallery-img-2 w-100" alt="...">
                                            <img src="static/images/works/{{photo[5]}}" class="photo-gallery-img-2 w-100" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-caption d-none d-md-block photo-gallery-text">
                                    <h5>{{photo[1]}}</h5>
                                    <p class="carousel-description-text">{{photo[2]}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Следующий</span>
                    </button>
                  </div>
            </div>
        </section>
        <section class="about-section">
            <a name="about"></a>
            <div class="container">
                <p class="section-text">О КОМПАНИИ</p>
                <div class="about products-card">
                    <div class="row">
                        <div class="col-2" style="text-align: center;"><img class="menu-img" src="static/images/logo.png"></div>
                        <div class="col-10">
                            <p class="product-name">ООО СТЕМА БЕЗОПАСНОСТИ – розничная и оптовая продажа 
                                оборудования обеспечения безопасности, консультирование</p>
                        </div>
                    </div>
                    <p class="product-description">   
                        Немного о том, почему наша компания с 2000 года работает до сих пор. Сегодня рынок 
                        охранных систем далеко не тот, что был в девяностые и даже начале двухтысячных. В те 
                        времена всё было гораздо проще. Количество поставщиков оборудования можно было 
                        пересчитать по пальцам обеих рук, ассортимент оставлял желать лучшего, а поиск 
                        информации сводился к телефонным звонкам или специализированным выставкам раз в 
                        полгода.<br>
                        Интернет. Он позволил покупателю найти то, что ему надо. Большинство хочет купить 
                        конкретный продукт по более низкой цене, с гарантией и желательно уже «сегодня». Нет 
                        смысла здесь предлагать более высокую цену, чем в Москве или С.-Петербурге. Сейчас 
                        существуют десятки интернет магазинов с доставкой товара до клиента. Но…. Если у вас 
                        есть время и желание сэкономить средства, сравнивайте цены и не забывайте о 
                        транспортных расходах и удалённой гарантии. Понимая всё это, мы сформировали 
                        главные критерии своей работы:
                    </p>
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <p class="product-name m-0">НАШИ ГЛАВНЫЕ КРИТЕРИИ РАБОТЫ</p>
                            <p class="product-description m-0">1. ЦЕНА – должна быть интересна нашим клиентам</p>
                            <p class="product-description m-0">2. ГАРАНТИЯ – вы приносите неисправное оборудование к нам в офис. Мы восстанавливаем его сами или отправляем за наш счёт в сервис компании поставщика</p>
                            <p class="product-description m-0">3. ТОВАР В НАЛИЧИИ – приходите, смотрите, оценивайте</p>
                            <p class="product-description m-0">4. СРОК ПОСТАВКИ – как правило, раз в неделю</p>
                            <p class="product-description m-0">5. РАБОТАЕМ ПОД ЗАКАЗ – найдётся почти всё</p>
                        </div>
                        <div class="col-md-5 col-lg-6">
                            <p class="product-name m-0">РЕКВИЗИТЫ КОМПАНИИ</p>
                            <p class="product-description m-0">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ: "СИСТЕМА БЕЗОПАСНОСТИ"</p>
                            <p class="product-description m-0">ИНН: 3528068443</p>
                            <p class="product-description m-0">КПП: 352801001</p>
                            <p class="product-description m-0">ОГРН: 1023501239420</p>
                            <p class="product-description m-0">ОКПО: 52035924</p>
                            <p class="product-description m-0">РАБОТАЕМ С НДС</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="map-section mb-0">
            <div class="map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0c02fc1e6cd89b68d350bd824262d2d87fa5d96ab6fa4da0a513e67cef580a6b&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                <div class="map-about">
                    <p class="product-name">КОНТАКТЫ</p>
                    <p class="product-price m-0">Телефоны:</p>
                    <a href="tel:88202586829" class="product-description">8(8202)58-68-29</a><br>
                    <a href="tel:88202575297" class="product-description">8(8202)57-52-97</a>
                    <p class="product-price mb-0 mt-3">Email:</p>
                    <a href="mailto:sb-mail@bk.ru" class="product-description">sb-mail@bk.ru</a>
                    <p class="product-price mb-0 mt-3">Адрес:</p>
                    <p class="product-description">г.Череповец, ул.Вологодская, д.4</p>
                </div>
            </div>
        </section>
        <script src="{{url_for('static', filename='js/header.js')}}"></script>
        <div class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <div>
                        <p class="my-form-main-text">Оставить заявку</p>
                        <form action="" method="post">
                            <div class="my-form-block">
                                <label class="my-form-label">Ваше имя</label><br>
                                <input class="my-form mb-1" type="text" name="name"><br>                                
                            </div>
                            <div class="my-form-block">
                                <label class="my-form-label">Ваш телефон</label><br>
                                <input class="my-form mb-1" type="phone" name="phone"><br>                                
                            </div>
                            <div class="my-form-block">
                                <label class="my-form-label">Ваш email</label><br>
                                <input class="my-form mb-1" type="email" name="email"><br>                                
                            </div>
                            <input class="my-form-btn" type="submit" data-bs-dismiss="modal">
                        </form>
                    <div>
                    <p class="mt-1 mb-1">или</p>
                    <div class="my-form-phone mt-0">
                        <p class="mb-1">Позвоните нам</p>
                        <a href="tel:88202586829">8(8202)58-68-29</a><br>
                        <a href="tel:88202575297">8(8202)57-52-97</a>
                    </div>                      
                </div>
              </div>
            </div>
        </div>
    </body>
</html>